.container{
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  animation: show 4s linear;
}
.card {
  height: fit-content;
  width: fit-content;
  padding: 40px 50px;
  position: relative;
  background: var(--black);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: var(--green-400);
  overflow: hidden;
  border-radius: 20px;
}
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 750px;
  height: 150px;
  background: linear-gradient(
    transparent,
    var(--green-100),
    var(--green-100),
    var(--green-100),
    transparent
  );
  animation: animate 4s linear infinite;
}
.card .lines::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--black);
  border-radius: 20px;
}
.card .content-img {
  background: url(../assets/card-img.png) no-repeat center center /cover;
  position: absolute;
  top: -50px;
  left: 50%;
  height: 154px;
  width: 154px;
  transform: translateX(-50%);
  border: solid 4px var(--green-100);
  border-radius: 50%;
  transition: 0.8s;
}
.content {
  position: relative;
  margin-top: 40px;
}
.card .content h1 {
  margin-top: 32px;
  font-size: 32px;
  color: var(--green-200);
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
}
.card .content p {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--green-100);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 34px;
}
.card .content ul p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 14px;
}
.card .content ul li {
  height: 50px;
  width: 270px;
  background: var(--green-200);
  border: 2px solid var(--green-300);
  border-radius: 8px;
  margin-bottom: 14px;
}
.card .content ul li :hover{
  background: var(--green-400);
  color: var(--green-200);
  border-color: var(--green-100);
}
.card .content ul li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: var(--green-400);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.card .content .icon {
  display: flex;
  justify-content: center;
}
.card .content img {
  height: 70px;
  margin-top: 10px;
}
