:root {
    --black: #000;
    --dark-blue:#00053BBB;
    --dark-brown:#140F03BB;
    --grey:#9AA095;

    --white:#fff;
    --mega-light-green:#00ff00;
    --dark-grey-tone:#80877C;
    --weak-dark-green:#588163;

    --dark-purple:#5b3f5b;
    --purple:#cd85ff;
    --black-black: #000000BB;
    --light-blue: #2196f3 ;

    --another-gray-tone:#888888;
}